@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300&display=swap');

.App {
  display: flex;
  flex-direction: row;
  background-color: #0A0A0A;
  justify-content: center;
  background: linear-gradient(#e66465, #9198e5);
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 60px;
  text-align: center;
  margin-bottom: 10px;
}

#controlPanel {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e66465, #9198e5);
  margin-left: 5%;
}

.barContainer {
  width: 55%;
  height: 95vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(#e66465, #9198e5);
}

#buttonControls {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}

button {
  background-color: white;
  color: black;
  border-radius: 20px;
  width: 34%;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.5s;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0px;
  opacity: 0.5;
}

.clickable {
  opacity: 1;
}

.clickable:hover {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
  transition-property: all;
  transition-duration: 0.5s;
  cursor: pointer;
}

.bar {
  width: 4px;
  background-color: #ECECEC;
  border-radius: 5px;
}

.sliderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

input {
  width: 78%;
  -webkit-appearance: none;
  appearance: none;
  opacity: 1;
  outline: none;
  background: white;
  border-radius: 10px;
  height: 6px;
}

input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: black;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

label {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  color: white;
}

input:disabled {
  opacity: 0.5;
}

@media screen and (max-width: 1200px) {
  button {
    width: 45%;
  }

  input {
    width: 90%;
  }
}


@media screen and (max-width: 900px) {
  h1 {
    font-size: 44px;
    margin-top: 0px;
    padding-top: 0px;
  }

  button {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 14px;
  }

  #buttonControls {
    height: 70%;
  }

  .bar {
    width: 2px;
  }

}

@media screen and (max-width: 550px) {
  #controlPanel {
    margin-left: 30px;
  }
  
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 32px;
  }

  .barContainer {
    width: 50%;
  }
}